<!DOCTYPE html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/style.css">
</head>
<nav role="button" class="navbar" ariel-label="main-navigation">
	<% if(currentUser) { %>
		<a href="/jordans">Home</a>
		<form action="/sessions?_method=DELETE" method="POST">
			<input class="button is-danger is-small" type="submit" value="Log Out" />
		</form>
		<% } else { %>
			<a class="navbar-item" href="/jordans">Home</a>
			<a class="navbar-item" href="/users/new">Register</a>
			<a class="navbar-item" class="button is-success is-small" href="/sessions/new">Login</a>
			<% } %>
				<a class="navbar-item">
					<img src="https://i.imgur.com/DCiBGIq.png?3" width="100" height="40" alt="logo"
						class="navbar-end"><strong>Jordan
						X</strong>
				</a>

</nav>