<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
    <title>Jordans List</title>
</head>

<body>
    <h1 style="color:white">New Jordans Page</h1>
    <form action="/jordans" method="POST">
        name: <input type="text" name="name" /><br />
        description: <input type="text" name="description" /><br />
        img: <input type="text" name="img"><br />
        price: <input type="number" name="price" /><br />
        qty: <input type="number" name="qty" /><br />

        <input type="submit" name="" value="Add Jordans" />
    </form>
</body>
</body>

</html>